<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /git-deploy/
  RewriteRule ^index.html$ - [L]
  RewriteCond %REQUEST_FILENAME !-f
  RewriteCond %REQUEST_FILENAME !-d
  RewriteCond %REQUEST_FILENAME !-l
  RewriteRule . /git-deploy/index.html [L]
</IfModule>